<h1 class="page-header">
  Overview
</h1>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-4 placeholder text-center">
    <img src="http://placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
  </div>
  <div class="col-xs-6 col-sm-4 placeholder text-center">
    <img src="http://placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
  </div>
  <div class="col-xs-6 col-sm-4 placeholder text-center">
    <img src="http://placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
  </div>
</div>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-4 placeholder text-center">
    <img src="http://placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
  </div>
  <div class="col-xs-6 col-sm-4 placeholder text-center">
    <img src="http://placehold.it/200/66ff66/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
  </div>
  <div class="col-xs-6 col-sm-4 placeholder text-center">
    <img src="http://placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
  </div>
</div>