<h1 class="page-header">
  Overview
</h1>

<div id="container" class="cols">
       <div class="boxorange"><a href="#/people" class="nav-color"><p>
       <font size="8">400</font><br><b>Total Subscribers</b>
       </p></a></div>
    <div class="boxblue"><a href="#/donor-activity" class="nav-color"><p>
    <font size="8">20</font><br><b>Donations This Month</b>
    </p></a></div>
    <div class="boxmagenta"><a href="#/donor-activity" class="nav-color"><p>
    <font size="8">600</font><font size="4"> USD</font><br><b>Raised This Month</b>
    </p></a></div>
    <div class="boxlightcoral"><a href="#/events" class="nav-color"><p>
    <font size="8">20</font><br><b>Upcoming Events</b>
    </p></a></div>
    <div class="boxgreen"><a href="#/people" class="nav-color"><p>
    <font size="8">50</font><br><b>Total Partners</b>
    </p></a></div>
    <div class="boxlightsalmon"><a href="#/donor-activity" class="nav-color"><p>
    <font size="8">100</font><br><b>Donors Pending Appreciation Email</b>
    </p></a></div>
</div>

