<html>
<div>
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Location</th>
        <th>Phone Number</th>
        <th>Date Joined</th>
    </tr>
    <tr ng-repeat="person in people">
        <td>{{person.firstname + " " + person.lastname}}</td>
        <td>{{person.email_address}}</td>
        <td>{{person.role_name}}</td>
        <td>{{person.state + ", " + person.country}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.date_of_first_contact}}</td>
    </tr>
</table>
</div>
</div>
</html>